<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChartJS</title>
</head>
<body>
    <div>
    <canvas class="myChart"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        var ctx = document.getElementsByClassName("myChart");

        var ChartGraph = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["jan","fev","mar"],
                datasets:[
                    {
                    label: "Taxa de Cliques-2017",
                    data:[5,7,2],
                    borderWidth: 6,
                    borderColor: "rgba(77,166,253,0.085)",
                    backgroundColor: "transparent",
                    },
                    {
                    label: "Taxa de Cliques-2018",
                    data:[2,4,7],
                    borderWidth: 6,
                    borderColor: "rgba(77,16,23,0.085)",
                    backgroundColor: "transparent",
                    },

                 ]
            }
        });
    </script>
    </div>

    <canvas class="teste"></canvas>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        var ctx = document.getElementsByClassName("teste");

        var ChartGraph = new Chart(ctx, {
            type: 'pie',
            data: {
                datasets: [{
                    data: [10, 20, 30],
                    label: "Taxa de Cliques-2017",
                    borderWidth: 2,
                    backgroundColor: "rgba(25,249,169)",
                }],
                labels: ['Red','Yellow','Blue']
            }
        });
    </script>
    </div>

</body>
</html>