{% extends 'admin/index.html' %}
{% load static %}
{% include 'site/common/link.html' %}
{% load l10n %}
{% block content %}
<h1>
    Gráficos
</h1>
<div id="content-main">
    <div class="app-E_contas module">
        <canvas class="grafico1"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>
        var ctx = document.getElementsByClassName("grafico1");
        var ChartGraph = new Chart(ctx, {
            type: 'bar',
    data: {
        labels: ['Pagar', 'Receber'],
        datasets: [{
            label: 'TOTAL de Contas a Pagar VS Receber',
            data: [{{pagar.valor__sum.normalize|unlocalize}},
                    {{receber.valor__sum.normalize|unlocalize}},
                    ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

        </script>
    </div>

    <div class="app-E_contas module">
        <canvas class="grafico2"></canvas>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script>

        var total = 3.5 * 7;
        var ctx = document.getElementsByClassName("grafico2");
        var ChartGraph = new Chart(ctx, {
            type: 'bar',
    data: {
        labels: [
        {% for empresa in empresas %}
            '{{ empresa.razao_social }}',
        {%endfor%}
                ,],
        datasets: [{
            label: 'TOTAL de Contas a Pagar por Empresa',
            data: [
                {% for valor in valores %}
                    {{ valor.valor__sum.normalize|unlocalize}},
                {% endfor %}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
             borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',

            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});

{% for valor in valores %}
console.log(total.toString().replace(",", "."))
{% endfor %}

        </script>
    </div>


</div>
{% include 'site/common/script.html' %}
{%endblock%}