{% extends 'admin/base.html' %}
{% load bootstrap %}
{% block content %}

<h1>Detalhes do Pagamento</h1>

<h2>Numero Documento</h2>
    <h3>{{object.numero_documento}}</h3>
<h2>Descrição</h2>
    <h3>{{object.descricao}}</h3>
<h2>Empresa</h2>
    <h3>{{object.empresa}}</h3>
<h2>Tipo de Pagamento</h2>
    <h3>{{object.tipo_de_pagamento}}</h3>
<h2>Data de Vencimento</h2>
    <h3>{{object.data_de_vencimento}}</h3>
<h2>Valor do Pagamento</h2>
    <h3>{{object.valor}}</h3>
<h2>Status do Pagamento</h2>
    <h3>{{object.status_pagamento}}</h3>
<h2>Fornecedor</h2>
    <h3>{{object.fornecedor}}</h3>
<h2>Parcela do Pagamento</h2>
    <h3>{{object.parcela}}</h3>
<h2>Competência do Pagamento</h2>
    <h3>{{object.competencia}}</h3>
<h2>Juros do Pagamento</h2>
    <h3>{{object.valor_juros}}</h3>
<h2>Data de Pagamento</h2>
    <h3>{{object.data_de_pagamento}}</h3>

<br>
<a href="{% url 'listar_pagamento' %}"><input type="submit" value="Voltar"></a>
{% endblock %}