{% include 'site/common/link.html' %}
{% load bootstrap %}

{% block content %}
<div class="container">
    <div class="raw">

    </div>
    <div class="raw">
        <div class="col-sm rounded border">
            <h1>Atualizar Empresa</h1>
            <form method="post">
            {% csrf_token %}
            {{ form | bootstrap }}
            <input class="btn btn-primary btn-md btn-block" type="submit" value="Atualizar">
            </form>
            <a href="{% url 'listar_empresa' %}"> <input class="btn btn-secondary btn-md btn-block" type="submit" value="Voltar"></a>
        </div>
    </div>
</div>
{% include 'site/common/script.html' %}
{% endblock %}
