{% extends 'admin/base.html' %}
[% load bootstrap %}
{% block content %}
    <a href="{% url 'sistema' %}"><h1>Painel Gerenciador</h1></a>
    <h1>Lista de Fornecedores</h1>
    <h1><a href="{% url 'cadastrar_fornecedor' %}"> Cadastrar Fornecedor +</a></h1>

    {% for fornecedor in object_list %}
        <div style="border:1px solid;padding-left:5px; margin-bottom:5px:5px">
            <h2>Razao Social</h2>
            <h3>{{ fornecedor.razaoSocial }}</h3>
            <h2>Nome Fantasia</h2>
            <h3>{{ fornecedor.nomeFantasia }}</h3>
            <a href="{% url 'atualizar_fornecedor' fornecedor.pk %}"> Atualizar Fornecedor</a>
            <br>
            <a href="{% url 'detalhe_fornecedor' fornecedor.pk %}">Mostrar Mais</a>
        </div>
    {% endfor %}


{% endblock %}