{% extends 'admin/index.html'%}

{% block content %}
<div id="content-main">

    <div class="app-E_contas module">
        <table>
            <caption>
                <h5>Relatórios</h5>
            </caption>

            <tbody>
            <tr>
                <th scope="row"><a target="_blank" href="http://127.0.0.1:8000/econtas/adm/relatorio/a_pagar">Contas a Pagar</a></th>
            </tr>
              <tr>
                <th scope="row"><a href="">Contas a Receber</a></th>
            </tr>


            </tbody>
        </table>
    </div>

</div>

{% endblock %}