{% load static %}
<div class="footer-top bg-secondary text-white-50">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                <h2>Nossa missão</h2>
                <p>Escrever aqui nossa missão</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                <h2>FOLLOW US</h2>
                <p>Please follow us our Social Media Profile in order to keep update.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                <h2>Nosso boletim informativo</h2>
                <p>Cadastre seu e-mail e receba nossas informações</p>
                <form action="">
                    <input type="email">
                    <input type="submit" value="GO">
                </form>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                <h2>Fique por dentro</h2>
                <ul class="list-group ">
                    <li class="list-group-item list-group-item-dark"><a href="#">Evento</a></li>
                    <li class="list-group-item list-group-item-dark"><a href="#">suporte</a></li>
                    <li class="list-group-item list-group-item-dark"><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
            <p class="text-center">All Right reserve by &copy; e-Contas.2019</p>
    </div>

</div>
