{% extends 'adm/gerenciamento/lista/lista_base.html'%}

{% block link-4 %}
> Empresas
{% endblock %}
{% block div-main %}

<div class="container-fluid">
    <a class="btn btn-success text-white m-1" href="{% url 'cadastro_empresa' %}">
        <h7>Cadastrar Empresa <i class="fas fa-plus-circle"></i></h7>
    </a>

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th scope="col">Razão Social</th>
                <th scope="col">Nome Fantasia</th>
                <th scope="col"> Editar</th>
                <th scope="col"> Detalhes</th>
                <th scope="col"> Deletar</th>
            </tr>
            </thead>
            <tbody>
            {% for empresa in object_list%}
            <tr>
                <th scope="row">{{ empresa.id}}</th>
                <td>{{ empresa.razao_social }}</td>
                <td>{{ empresa.nome_fantasia }}</td>
                <td>
                    <a class="text-dark" title="Editar Empresa" href="{% url 'atualiza_empresa' empresa.pk%}">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td><a class="text-dark" title="Mostrar Detalhes" href="{% url 'detalhe_empresa' empresa.pk%}">
                    <i class="fas fa-list-alt"></i>
                </a>
                </td>
                <td><a title="Deletar Empresa" class="fas fa-trash-alt"
                       href="{% url 'deleta_empresa' empresa.pk %}"></a>
                </td>
            </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}


